:root {
    --green: rgb(59, 209, 127);
    --dgrey: rgb(121, 129, 124);
    --lgrey: #9DB0A3;
    --blue: rgb(0, 168, 230);
}

* {
    font-family: 'Lato';
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 2em;
    font-size: 25px;
}

.logo {
    padding: 15px;
    padding-top: 85px;
}

.hometop {
    font-size: 40px;
}

.nav {
    padding: 0.5em;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: var(--dgrey);
    border: 3px var(--dgrey);
} 

.nav:hover {
    display: block;
}

.nav a:visited, a:hover, a:active, a:link {
    color: white;
    text-decoration: none;
}

.navbutton {
    position: relative;
    display: inline-block;
    justify-content: space-around;
    padding: 10px;
    border-color: white;
    background-color: var(--lgrey);
    color: white;
    font-size: 20px;
}

.navbutton:hover {
    border-color: white;
    background-color: var(--dgrey);
    text-decoration: white;
    font-style: italic;
}

.active {
    background-color: var(--dgrey);
}

.nav .topname a {
    display: inline-block;
    height: auto;
    font-size: 35px;
}

.hometop .topname {
    font-size: 90px;
}

.tagline {
    font-size: 45px;
}

body {
    background-color: var(--blue);
    color: white;
    font-size: 17px;
}

.copyright {
    font-size: 15px;
    float: left;
}

a:visited, a:hover, a:active, a:link, a {
    color: white;
}

.greyback {
    background-color: var(--lgrey);
    color: white;
    padding: 5em;
}

.blueback {
    background-color: var(--blue);
    color: white;
    padding: 5em;
}

.portthumb {
    max-width: 100%;
    align-items: center;
    height: auto;
}

.portthumb:hover {
    opacity: 5;
}

.contact .input{
    display: block;
    width: 90%;
}

.contact-selectors {
    display: inline;
}

.wrap {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.column_left, .column_right{
    max-width: 500px;
}

h1 {
    font-size: 50px;
}

/* //Mobile device styling// */
@media only screen and (max-width: 800px) {
    * {
        font-family: 'Lato';
        box-sizing: border-box;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 2em;
        font-size: 20px;
    }

    .wrap {
        display: flex;
        flex:0 0 300px;
        justify-content: space-around;
        align-items: stretch;
        font-size: 20px;
    }

    .greyback {
        background-color: var(--lgrey);
        color: white;
        padding: 5em;
    }
    
    .blueback {
        background-color: var(--blue);
        color: white;
        padding: 5em;
    }
}