:root {
    --green: #3A4B40;
    --dgrey: #867878;
    --lgrey: #E0D9D9;
    --blue: #24242D;
}

* {
    font-family: 'Lato';
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 2em;
    font-size: 25px;
}

.hometop {
    font-size: 40px;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background-color: var(--lgrey);
    border: 3px var(--lgrey);
    overflow: hidden;
} 

.nav a:visited, a:link {
    color: var(--blue);
    text-decoration: none;
}

.nav a {
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    background-color: var(--lgrey);
    color: var(--blue);
    font-size: 20px;
}

.nav a:hover {
    border-color: white;
    background-color: white;
    text-decoration: white;
}

.nav a:active{
    background-color: white;
    color: var(--blue);
}

.nav .icon {
    display: none;
}

header {
    padding-bottom: 1em;
}

.hometop .topname {
    font-size: 90px;
}

.hometop .tagline-desktop {
    font-size: 45px;
}

.hometop .tagline-mobile {
    display: none;
}

.toplink {
    display: none;
}

body {
    padding-top: 55px;
    padding-bottom: 5em;
    background: url(/img/background.svg);
    color: var(--green);
    font-size: 17px;
}

.copyright {
    font-size: 15px;
    text-align: left;
    position: fixed;
    bottom: 0;
    padding-left: 1em;
    background-color: var(--lgrey);
    width: 100%;
    color: #24242D;
}

.portthumb {
    max-width: 75%;
    align-items: center;
    height: auto;
}

.portthumb:hover {
    opacity: 5;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.column_left, .column_right{
    max-width: 500px;
}

h1 {
    font-size: 50px;
}

.mailbutton {
    display: flex;
    flex-flow: column-reverse;;
    background-color: var(--lgrey);
    padding: 5px;
    color: var(--blue);
}

.mailbutton:visited {
    color: var(--blue);
}

.mailbutton:hover {
    background-color: var(--dgrey);
}

#formsubmit {
    background-color: var(--lgrey);
    padding: 5px;
}

#formsubmit:hover {
    background-color: var(--dgrey);
}


/* Contact Form Styling */

/**
* Make the field a flex-container, reverse the order so label is on top.
*/
 
.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
    width: 50%;
  }
  /**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the 
  * pesky delay.
  */
  label, input, textarea {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  input, textarea {
    font-size: 1.5em;
    border: 1px solid #ccc;
    /*border-bottom: 1px solid #ccc;*/
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
  }
  
  input:focus, textarea:focus {
    outline: 1px;
    border: 1px solid #ccc;
    /*border-bottom: 1px solid #666;*/
  }
  
  label {
    
}
  /**
  * Translate down and scale the label up to cover the placeholder,
  * when following an input (with placeholder-shown support).
  * Also make sure the label is only on one row, at max 2/3rds of the
  * field—to make sure it scales properly and doesn't wrap.
  */
  input:placeholder-shown + label, textarea:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
  }
  /**
  * By default, the placeholder should be transparent. Also, it should 
  * inherit the transition.
  */
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  /**
  * Show the placeholder when the input is focused.
  */
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  /**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when 
  * there's something in the input at all.
  */
  input:not(:placeholder-shown) + label,
  input:focus + label,
  textarea:not(:placeholder-shown) + label,
  textarea:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }

/* End Contact Form Styling */

.container {
    display: grid;
}

.item {
    grid-template-columns: auto auto;
    grid-template-rows: 400px;
}

/* //Mobile device styling// */
@media screen and (max-width: 600px) {
    * {
        font-family: 'Lato';
        box-sizing: border-box;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 2em;
        font-size: 20px;
    }

    body {
        height: 100%;
        width: 100%;
    }

    .wrap {
        display: block;
        justify-content: center;
        font-size: 20px;
        width: 100%;
    }

    .hometop .topname {
        font-size: 45px;
        top: 100%;
    }

    .hometop .tagline-mobile {
        font-size: 30px;
        display: block;
    }

    .hometop .tagline-desktop {
        display: none;
    
    }

    .nav a:not(:first-child) {
        display: none;
    }
    
    .nav a.icon {
        float: right;
        display: block;
    }

    .nav.responsive {
        position: relative;
        right: 0;
        top: 0;
    }

    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .field {
        width: 100%;
    }

}

/*///////// Loading Animation CSS /////////*/

.loader {
    text-align: center;    
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: black;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
@-webkit-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
   /* -webkit-transform: translateY(0); */
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
   /* -webkit-transform: translateY(-21px); */
  }
}
@-moz-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -moz-transform: translateY(0);
  }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -moz-transform: translateY(-21px);
  }
}
@keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
    }
}