/* New color scheme:
347F56
3A4B40
9DB0A3
007BA9
43B0E0
*/

.logo {
    padding: 5px;
}

.nav {
    background-color:#9DB0A3;
    color:#007BA9;
    padding: 16px;
    font-size: 16px;
}

.navbutton {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.nav:hover {
    display: block;
}

.nav a:visited, a:hover, a:active, a:link {
    color: #3a4b40;
    text-decoration: none;
}

body {
    background-color: #007BA9;
    color: #9DB0A3;
}

.test {
    background-color: #9DB0A3;
    color: #007BA9;
    padding: 5em;
}

a:visited, a:hover, a:active, a:link, a {
    color: #3a4b40;
}

.contact {
    align-items: center;
    padding: 4em;
}