/*
color scheme:
154, 178, 166
13, 130, 69
0, 255, 122
178, 18, 0
255, 26, 0
*/

/* logo */
.logo {
    padding: 5px;
}

/* Paralax effect */
.paralax {

}

a:hover {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
    background-color:rgb(13, 130, 69);
    color:rgb(154, 178, 166);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Regular text settings */
body {
    background-color: darkslategrey;
    color: ghostwhite;
}

/* Main heading settings */
h1 {
    color: ghostwhite;

}

#center {
  
}
